.content_admin {
	width: 100%;
	padding: 0 0 60px;
	color: #003628;
	font-size: 14px;
	background: url(/images/notice/bg_board1_top.png) repeat-x left 156px top;
}

.content_admin .inner {
	width: 1120px;
	margin: 0 auto;
	position: relative;
}

.content_admin .route {
	display: flex;
	align-items: center;
	height: 120px;
}

.admin_notice_wrap .admin_notice_header {
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 0 0 20px;
}

.admin_notice_wrap .admin_notice_header h2 {
	font-size: 60px;
	margin-top: 40px;
	font-weight: 500;
	letter-spacing: -1;
}

.admin_notice_wrap .tabs {
	text-align: center;
	margin: 30px 0 -5px 0;
	padding: 0;
}

.admin_notice_wrap .tabs a {
	font-weight: 700;
	display: block;
	position: relative;
}

.admin_notice_wrap .tabs a::after {
	content: "";
	width: 120px;
	height: 3px;
	background: #d6e7d0;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
}

.admin_notice_wrap .search_box {
	text-align: center;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 20px;
	color: #717171;
}

.admin_notice_wrap .search_box input {
	width: 70%;
	height: 38px;
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 0 40px;
	background: url(/images/notice/btn-search.png) no-repeat 10px 50% #fff;
}

.admin_notice_wrap .admin_notice_table {
	width: 100%;
	border-top: 1px solid #dbdbdb;
	margin-bottom: 20px;
}

.admin_notice_wrap .admin_notice_table th {
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
	color: #003628;
	font-weight: 500;
}

.admin_notice_wrap .admin_notice_table td {
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
	color: #444;
}

.admin_notice_wrap .admin_notice_table td:not(:nth-of-type(3)) {
	text-align: center;
}

.admin_notice_wrap .admin_notice_table td>img {
	vertical-align: 0px;
}

.admin_notice_wrap .admin_notice_table td>a:hover {
	text-decoration: underline;
}

.admin_notice_wrap .admin_notice_table .notice_date {
	color: #acacac;
}

.admin_notice_wrap .admin_notice_table .notice_visit {
	color: #acacac;
}

.footer_height {
	height: 100px;
	background-color: bisque;
}






.notice_view {
	width: 100%;
	padding: 0 0 60px;
	color: #003628;
	font-size: 14px;
	background: url(/images/notice/bg_board1_top.png) repeat-x left 156px top;
}

.notice_view .inner {
	width: 1120px;
	margin: 0 auto;
	position: relative;
}

.notice_view .route {
	display: flex;
	align-items: center;
	height: 120px;
}

.notice_view_wrap .notice_view_header {
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 0 0 20px;
}

.notice_view_wrap .notice_view_header h2 {
	font-size: 60px;
	margin-top: 40px;
	font-weight: 500;
	letter-spacing: -1;
}

.notice_view_wrap .tabs {
	text-align: center;
	margin: 30px 0 -5px 0;
	padding: 0;
}

.notice_view_wrap .tabs a {
	font-weight: 700;
	display: block;
	position: relative;
}

.notice_view_wrap .tabs a::after {
	content: "";
	width: 120px;
	height: 3px;
	background: #d6e7d0;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
}

.notice_view_wrap {
	width: 100%;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
}

.notice_view_wrap .notice_view_head {
	display: block;
	margin: 20px 0;
}

.notice_view_head .notice_view_tit {
	display: flex;
	padding: 10px 0;
}

.notice_view_head .notice_view_tit strong {
	display: inline-block;
	width: 15%;
	font-weight: normal;
	color: #003628;
}

.notice_view_head .notice_view_tit h2 {
	font-weight: bold;
}

.notice_view_head .notice_view_info {
	display: flex;
	padding: 10px 0;
}

.notice_view_head .notice_view_info strong {
	display: inline-block;
	width: 15%;
	font-weight: normal;
	color: #003628;
}

.notice_view_head .notice_view_info .filename {
	text-decoration: underline;
}

.notice_view_body {
	width: 100%;
	min-height: 350px;
}

.back_to_list {
	display: block;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
	width: 120px;
	color: #666;
	text-align: center;
}

.back_to_list a {
	display: block;
	line-height: 40px;
}

.main_field_notice {
	display: flex;
	width: 30%;
	position: relative;
}

.notice_cancel_btn {
	position: absolute;
	right: 0;
	margin-top: 6px;
	display: block;
	color: red;
	width: 20px;
	height: 20px;
	border: 1px solid #e5e5e5; 
}

.main_field_notice .notice_file_input {
	display: none;
    height: 30px;
    padding: 0 5px;
    border: none;
    width: 78%;
    color: #999999;
}

.main_field_notice .file_name_display {
	display: inline-block;
}

.main_field_notice .update_file_name_display {
	display: inline-block;
}

.main_field_notice .notice_file_update {
	display: block;
    height: 30px;
    padding: 0 5px;
    border: none;
    width: 78%;
    color: #999999;
}

.main_field_notice label {
	color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
	background: #808080   
}


