.w_external {
	background: url(/images/wish/bg_dots_green.png) repeat center top;
}

.wish_wrap {
	background: url(/images/wish/bg_board_top.png) repeat-x left 156px top;
}

.wish_wrap.on {
	background: none;
}

.wish_content {
	width: 1120px;
	padding-bottom: 60px;
	margin: 0 auto;
	position: relative;
}

.wish_admin {
	line-height: 120px;
}

.wish_admin.on {
	line-height: 140px;
}

.wish_admin span {
	color: var(--point-color1);
}

.wish_admin span>a {
	color: #333;
}

.wish_admin span::after {
	content: "/";
	color: #999;
	padding: 0 10px;
	display: inline-block;
}

.wish_admin span:last-child::after {
	content: "";
}

.section_header h2 {
	font-size: 60px;
	font-weight: 500;
	padding: 40px 0;
}

.section_body .news_title {
	border-top: 2px solid #ededed;
	border-bottom: 1px solid #ededed;
}

.section_body .news_title th {
	padding: 10px 0;
	font-weight: 400;
}

.section_body .news_body {
	border-bottom: 2px solid #ededed;
}

.section_body .wish_list {
	border-bottom: 1px solid #ededed;
}

.news_body .wish_ct {
	padding: 20px 15px;
}

.news_body .wish_ct:nth-of-type(2) {
	display: flex;
}

.news_body .wish_ct:nth-of-type(2) div:last-child {
	flex-grow: 1;
}

.news_body .wish_ct .img {
	display: inline-block;
	margin-right: 10px;
}

.news_body .wish_ct .img img {
	display:inline-block;
	width: 80px;
	height: 80px;
}

.news_body .wish_ct .name {
	display: flex;
	padding-top: 10px;
}

.news_body .wish_ct .name span {
	color: #444;
	font-weight: 400;
}

.news_body .wish_ct .name span:hover {
	text-decoration: underline;
}

.news_body .wish_ct .option {
	display: flex;
}

.news_body .wish_ct .option p {
	color: #a9a9a9;
	font-size: 11px;
	font-weight: 500;
	margin: 5px 10px 0 0;
}

.news_body .wish_ct .price {
	color: #444;
}

.news_body .wish_ct .num {
	color: #444;
	font-weight: 400;
}

.news_body .wish_ct .option_btn {
	margin-top: 10px;
	display: inline-block;
	border: 1px solid #e5e5e5;
	background: #fff;
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 400;
	padding: 5px 10px;
}

.news_body .wish_ct .option_btn:hover {
	background: #e6e3dd;
	color: var(--point-color1);
}

.news_body .wish_ct .button {
	display: inline-block;
	border: 1px solid #e5e5e5;
	background: #fff;
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 400;
	padding: 5px 10px;
}

.news_body .wish_ct .button:hover {
	background: #e6e3dd;
	color: var(--point-color1);
}

.section_footer .wish_btn {
	margin-top: 20px;
}

.section_footer .wish_btn button {
	border: 1px solid #e5e5e5;
	background: #fff;
	color: #666;
	width: 140px;
	height: 30px;
	font-size: 13px;
}

.section_footer .wish_btn button:hover {
	border: 1px solid #cba977;
	color: #222;
}